<div class="card shadow-effect">

  <img src="https://images.pexels.com/photos/9571268/pexels-photo-9571268.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design </small>
    <small class="bg-light text-success text-center ms-3"> Featured </small>
    <small class="bg-light text-info text-center ms-3"> View -  100,87 </small>

    <h5 class="mt-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, ex.
    </h5>
    <p>      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, ex.
    </p>

    <small class="bg-light text-warning text-center ms-3">LAST UPDATED - SEP 20 , 2021 </small>


  </div>
</div>
